

.author-picture {
  display: block;
  width: 90%;
  height: auto;
}

.about h1 {
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about p {
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.05em;
}

.about a:link, .about a:visited, .about a:active  { 
  text-decoration:none;
  width: 50%;
  height: 33px;
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  color: #000000;
}