// Specific CSS for your home-page

#introduction {
  margin: 20px auto;
  margin-left: 40px;
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 69px;
  color: #000000;
}
