// Specific CSS for your home-page
.introduction {
  position: absolute;
  width: 1500px;
  height: 602px;
  left: 99px;
  top: 200px;
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 86px;
  color: #000000;
}

.banner {
  background: #FFFDFB;
}

.a1 {
  color: #D8973C;
}

.page-title {
  margin-left: 20px;
}