.row {
  margin-top: 10px;
  left: 0px;
}

.container img {
  display: block;
  width: 100%;
  height: auto;
}

.picture-details h1 {
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 45px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.picture-details p {
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 32px;
  letter-spacing: 0.05em;
}