.row {
  width: 90%;
}

.picture img {
  display: block;
  width: 100%;
  height: auto;
}

.picture-details h1 {
  font-family: Ovo;
  font-style: normal;
  font-weight:bold;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.05em;
}

.picture-details p {
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.05em;
}

.picture-menu a:link, .picture-menu a:visited, .picture-menu a:active { 
  text-decoration: none;
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: black;
}

.picture-menu a:hover {
  text-decoration: underline;
  font-weight: bold;
}