.row {
  margin-top: 70px;
}

.container img {
  display: block;
  width: 100%;
  height: auto;
}

.picture-details h1 {
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.pictures-details p {
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.05em;
}