<div class="footer">

  <div class="list-inline text-center">
    <ul>
      <a href="#", target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </ul>
    <ul>
      <a href="https://www.behance.net/stephaniesimpsonillu?fbclid=IwAR3ykjrBd4D9K8TNgrwMhfF8cfzwEIg791QLkgtF0U14dNixpy-EcXxpt2s", target="_blank">
        <i class="fab fa-behance"></i>
      </a>
    </ul>
    <ul>
      <a href="https://www.instagram.com/coucoustephanie/", target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </ul>
  </div>

  <div class="rights">
    <p>Stéphanie Simpson © Tous droits réservés</p>
  </div>

</div>