<!-- Homepage -->

<div class="container-intro">
  
  <div class=text--intro>
    <div class="intro--animation">
      <p>Stéphanie Simpson est une <span style="color: #B6212B;">illustratrice</span> et
      <span style="color: #392F5A;">designer multidisciplinaire</span> basée à Montréal.<br>
      </p>
    </div>
    <div class="intro--animation b2">
      <p>Inspirées par <span style="color: #357266;">l’environnement</span>, le <span style="color: #B6212B;">mouvement</span>
      et le <span style="color: #404E7C;">quotidien</span>, ses créations suscitent 
      l'<span style="color: #443627;">imagination</span> et l'<span style="color: #B6212B;">interaction</span>.
      </p>
    </div>
    <div class="start animation b3">
      <a href="#portfolio"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  </div>
  
  <img src="https://res.cloudinary.com/dus151ezt/image/upload/v1649537151/Beauty%27s%20website/Postanim_FemmeBleue_i07k1z.gif"/>
  
</div>
