<div class="banner">
  <div class="introduction">
    <p>Stéphanie Simpson est une illustratrice et designer multidisciplinaire basée à Montréal. Inspirées par l’environnement, le mouvement et le quotidien, ses créations suscitent l’imagination et l’interaction.</p>
  </div>
</div>