<div class="container">
  <div class="introduction">
    <p>Texte d’intro ici en quelques 
    lignes. Texte à venir ! Stéphanie Simpson, Beauty inc. Je ne sais pas jusqu’où il va aller.</p>
  </div>
</div>