<div class="col-8" id="intro">
  <p>Stéphanie Simpson est une <br>
  <span style="color: #D8973C;">illustratrice</span> et <span style="color: #7CA982;">designer<br>
  multidisciplinaire</span> basée à Montréal. <br>
  Inspirées par <span style="color: #357266;">l’environnement</span>, <br>
  le <span style="color: #B6212B;">mouvement</span>  et le <span style="color: #D8973C;">quotidien</span>, <br>
  ses créations suscitent l'<span style="color: #7CA982;">imagination</span><br>
  et l'<span style="color: #204676;">interaction</span>.</p>
</div>
