<div class="banner">
  <div class="introduction">
  <p>Stéphanie Simpson est une <br>
  illustratrice et designer <br>
  multidisciplinaire basée à Montréal. <br>
  Inspirées par l’environnement, <br>
  le mouvement et le quotidien, <br>
  ses créations suscitent l’imagination <br>
  et l’interaction.</p>
  </div>
</div>