<h1>Portfolio</h1>

 <div class="row justify-content-start">
    <% @pictures.each do |picture|  %>
      <% if picture.is_portfolio_item == true %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title"><strong><%= picture.name %></strong></h4>
              <%= link_to "See details", picture_path(picture), class: "btn btn-info" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
