<h1 class="page-title">Portfolio</h1>
<div class="grid-container">
  <% @pictures.each do |picture|  %>
    <div class="grid-item">
      <% if picture.is_portfolio_item == true %>
        <div><%= image_tag picture.preview_picture %>
          <div class="picture-name">
            <%= link_to picture.name, picture_path(picture) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

