<h1>Portfolio</h1>
<p></p>
<% @pictures.each do |picture| %>
  <% if picture.page == "portfolio" %>
    <h2><%= picture.name %></h2>
    <p><%= picture.description %></p>
    <%= link_to "See details", picture_path(picture)  %>
  <% end %>
<% end %>