<h1>Portfolio</h1>
<div class="grid-container">
  <% @pictures.each do |picture|  %>
    <div class="grid-item">
      <% if picture.is_portfolio_item == true %>
        <%= image_tag picture.preview_picture %>
        <h4><strong><%= picture.name %></strong></h4>
        <%= link_to "See details", picture_path(picture) %>
      <% end %>
    </div>
  <% end %>
</div>

