<div class="page-title">
  <h1>Boutique</h1>
</div>

<div class="card-columns">

  <% @pictures.each do |picture|  %>
      <% if picture.is_shopping_item == true %>
      
        <div class="card">
          <div class="card-img">
            <% picture.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          </div>
          <div class="card-img-overlay">
            <h3 class="card-title d-flex align-items-center "><%= link_to picture.name, picture_path(picture) %></h3>
          </div>
        </div>

      <% end %>
  <% end %>

</div>

