<h1>Index pictures</h1>
<p> </p>
<% @pictures.each do |picture| %>
    <h2><%= picture.name %></h2>
    <p><%= picture.description %></p>
    <%= link_to "See details", picture_path(picture)  %>
<% end %>