//Portfolio design

// .grid-container {
//   display: grid;
//   grid-template-columns: auto auto auto;
//   justify-content: space-evenly;
// }

// .grid-item {
//   margin: 20px;
//   font-size: 30px;
//   text-align: center;
// }

.card img {
  display: block;
  width: 100%;
  height: auto;
}

.card-img-overlay .card-title a:link, .card-title a:visited, .card-title a:active  {
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: white;
}

.card-img-overlay {
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(216, 151, 60, 0.85);
  display: flex;
  text-align: center;
  justify-content: center;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

// .picture-name a:hover {
//   font-weight: bold;
// }