//Portfolio design

// .grid-container {
//   display: grid;
//   grid-template-columns: auto auto auto;
//   justify-content: space-evenly;
// }

// .grid-item {
//   margin: 20px;
//   font-size: 30px;
//   text-align: center;
// }

.card img {
  display: block;
  width: 100%;
}

.card-title a:link, .card-title a:visited, .card-title a:active  {
  font-family: Ovo;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: white;
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;
}


// .picture-name a:hover {
//   font-weight: bold;
// }