.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;

  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #000000;
}

.list-inline ul {
  padding: 0px 16px;
  display: inline-block;
  text-align: center;
  font-size: 25px;
}

.list-inline ul a:link, .list-inline ul a:visited, .list-inline ul a:active {
  color: rgba(216, 151, 60, 0.85);
}

.list-inline ul a:hover {
  font-weight: bold;
}