.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 122px;
  left: 20px;
  top: 0px;
}

.logo {
  width: 50%;
  height: 33px;
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  letter-spacing: 0.05em;
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active  { 
  text-decoration:none;
  color: #000000;
}

.a1 a:link, .a1 a:visited, .a1 a:hover, .a1 a:active  { 
  text-decoration:none;
  color: #204676;
}

.a2 a:link, .a2 a:visited, .a2 a:hover, .a2 a:active  { 
  text-decoration:none;
  color: #D8973C;
}

.a3 a:link, .a3 a:visited, .a3 a:hover, .a3 a:active  { 
  text-decoration:none;
  color: #B6212B;
}

.a4 a:link, .a4 a:visited, .a4 a:hover, .a4 a:active  { 
  text-decoration:none;
  color: #7CA982;
}

.a5 a:link, .a5 a:visited, .a5 a:hover, .a5 a:active  { 
  text-decoration:none;
  color: #357266;
}
